* {
	border: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-position: center;
}

#phone-body {
	width: 640px;
	height: 960px;
	margin: 2em auto;

	position: relative;
	overflow: hidden;
}

.home {
	background-image: url("img/home.png");
}

.browse {
	background-image: url("img/browse.png");
}

.search {
	background-image: url("img/search.png");
}

.results {
	background-image: url("img/results.png");
}

.altura {
	background-image: url("img/altura.png");
}

.sms-one {
	background-image: url("img/sms-1.png");
}

.sms-two {
	background-image: url("img/sms-2.png");
}

.sms-three {
	background-image: url("img/sms-3.png");
}

#phonebar {
	width: 100%;
	height: 40px;
	background-image: url("img/phone_bar.png");

	position: absolute;
	top: 0;

	z-index: 10;
}

#header {
	width: 100%;
	height: 128px;
	background-image: url("img/header_scrolldown.png");

	position: absolute;
	top: 0;

	z-index: 2;
}

#content {
	width: 640px;
	height: 960px;
	position: absolute;
	z-index: 1;
}

#scroll-content {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 1;
}

#footer {
	width: 100%;
	height: 100px;
	background-image: url("img/actionbar_bottom.png");

	position: absolute;
	bottom: 0;

	z-index: 2;
}